body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.container_contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}
.container_cards {
  display: flex;
  align-items: center;
}

.main_card .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards {
  background-color: coral;
  padding: 30px;
  border-radius: 24px;
  margin: 10px;
}

.cards .card .content .img {
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: wheat;
  padding: 3px;
}

.cards .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content .img img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.content .details .name {
  font-size: 20px;
  font-weight: 500;
}

.content .details .job {
  font-size: 20px;
  color: aquamarine;
}

.content .media_icons {
  display: flex;
  margin-top: 10px;
}

.cards .content .media_icons img {
  height: 3.5rem;
  width: auto;
  background: #fff;
  margin: 0 4px;
  border-radius: 50%;
  border: 2px solid transparent;
}

@media screen and (min-width: 700px) {
  .main_card .cards {
    flex-direction: row;
  }
}
