* {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 18rem;
  border-radius: 1rem;
}
.text {
    border-radius: 0.5rem;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    max-height: 28rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}
.caption {
  text-align: initial;
  border-bottom: 0.1rem dotted #755c4a;
}
.text > p {
  text-align: left;
  padding: 0.5rem;
}
.information > p {
  text-align: left;
  padding: 0.5rem;
}

.information {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .box {
    border: 0.1rem solid white;
    padding: 0.5rem;
    /* margin: 1rem; */
    border-radius: 2rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  img {
    width: 24rem;
    border-radius: 1rem;
    margin: 1rem 0.75rem 0rem 0;
  }
}
