.container_home {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 10px;
}

.text_home {
  text-align: center;
  max-width: 700px;
}

.buttons {
  padding: 10px 0;
  width: 125px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s;
}

.buttons:hover {
  transform: scale(1.05);
}
