.nav-bar {
    background-color: aquamarine;
    padding: 20px;
}
 
.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li{
    text-decoration: none;
}

.nav-links a{
    text-decoration: none;
}