.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

.nav-logo {
    font-weight: 700;
    font-size: 25px;
}

.nav-items {
    background-color: #754727;
    transition: 0.5s;
    border-radius: 2em;
    padding: 5px 20px;
}


.nav-items:hover {
    transform:  scale(1.1);    
}

h2 {
    font-size: 15px;
    cursor: pointer;
    margin: 15px;
    position: relative;
}

